/* .app {
    display: flex;
    position: relative;
} */

/* .app login{
    display: flex;
    justify-content: center;
    align-items: center;
}
   */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}